/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/.htaccess
/config/l5-swagger.php
/resources/views/vendor/l5-swagger/.gitkeep
/resources/views/vendor/l5-swagger/index.blade.php
/storage/api-docs/api-docs.json
storage/api-docs/api-docs.json